* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(#02f4e7, #02f4e7, #02f4e7);
  background-repeat: no-repeat;
  color: white;
}

.video1 {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  z-index: -100;
  background: url(img/astronautatop.mp4) no-repeat center;
  background-size: cover;
}

#img1 {
  width: 60px;
}
#img2 {
  width: 90px;
}
#sessao1 {
  font-family: "Poppins", sans-serif;
  color: white;
  position: relative;
}

#menu1 {
  background-color: black;
}

#contatos {
  color: #dc3545;
}

b {
  color: rgb(44, 46, 46);
}
#section2 {
  background-color: rgb(238, 236, 236);
}
.textoSobre {
  font-family: "Poppins", sans-serif;
  color: black;
}

.social {
  color: black;
}

.social:hover {
  color: white;
  transition-delay: 0.3s;
}

#section2 {
  color: black;
}

#foto1 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid black;
}

.skills {
  color: #dc3545;
}

#icones {
  color: #00a79d;
}
#habilidades {
  font-family: "Poppins", sans-serif;
  font-size: medium;
  font-weight: 600;
  color: #00a79d;
}

.ico:hover {
  color: black;
  transition-delay: 0.3s;
}
.ico2 {
  color: black;
}
.projetos {
  background-image: linear-gradient(
    rgb(43, 43, 43),
    rgb(34, 34, 34),
    rgb(19, 19, 19),
    rgb(12, 12, 12),
    rgb(5, 5, 5)
  );
}
.tituloProjetos {
  color: black;
  font-family: "Poppins", sans-serif;
}
.job {
  color: black;
  font-family: "Poppins", sans-serif;
}
#link {
  text-decoration: none;
  color: #dc3545;
  transition-delay: 0.3s;
}
.cor1 {
  color: #02f4e7;
  text-decoration: none;
}
.negro {
  color: rgb(122, 122, 122);
  text-decoration: none;
}
#foto2 {
  width: 250px;
}
.Contatos {
  background-image: linear-gradient(
    #dc3545,
    #a32431,
    #8a1b26,
    #630f18,
    rgb(73, 11, 11)
  );
  font-family: "Poppins", sans-serif;
}
.link2 {
  text-decoration: none;
  color: #01cec2;
  transition-delay: 0.3s;
}
.link2:hover {
  color: #025c56;
}

#footer {
  background-color: rgb(0, 0, 0);
}
