* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(
    #02f4e7,
    #01cec2,
    #00a79d,
    #018077,
    #025c56,
    #014944
  );
  background-repeat: no-repeat;
  color: white;
}

#section1 {
  font-family: "Poppins", sans-serif;
  color: white;
}

#menu1 {
  background-color: black;
}

#contatos {
  color: #ffc107;
}

#section1 {
  height: 561px;
}

b {
  color: rgb(44, 46, 46);
}
#section2 {
  background-color: white;
}
.textoSobre {
  font-family: "Poppins", sans-serif;
  color: black;
}

.social {
  color: black;
}

.social:hover {
  color: white;
  transition-delay: 0.3s;
}

#section2 {
  color: black;
}

#foto1 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid black;
}

.skills {
  color: black;
}

#icones {
  color: #00a79d;
}
#habilidades {
  font-size: medium;
  font-weight: 600;
  line-height: 10px;
  color: #00a79d;
}

.ico:hover {
  color: black;
  transition-delay: 0.3s;
}
.ico2 {
  color: black;
}
.projetos {
  background-image: linear-gradient(
    gray,
    rgb(99, 99, 99),
    rgb(73, 71, 71),
    rgb(53, 52, 52),
    rgb(44, 44, 44)
  );
}
.tituloProjetos {
  color: black;
  font-family: "Poppins", sans-serif;
}
.job {
  color: black;
  font-family: "Poppins", sans-serif;
}
#link {
  text-decoration: none;
  color: #ffc107;
  transition-delay: 0.3s;
}
#link:hover {
  color: black;
}
#foto2 {
  width: 250px;
}

#footer {
  background-color: rgb(0, 0, 0);
}
