* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(
    #02f4e7,
    #009790,
    #00857e,
    #00645f,
    #004642,
    #002927,
    #001615
  );
  background-repeat: no-repeat;
  color: white;
}
